<!DOCTYPE html>
<html layout:decorate="~{layouts/layout1}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="css">
    <style>
        .error {
            color: #bd2130;
        }




    </style>
</th:block>

<div layout:fragment="content">

    <form action="/members/login" method="post" role="form">
        <div class="form-group">
            <label th:for="email">이메일주소</label>
            <input class="form-control" name="email" placeholder="이메일을 입력해주세요" type="email">
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input class="form-control" id="password" name="password" placeholder="비밀번호 입력" type="password">
        </div>
        <p class="error" th:if="${loginErrorMsg}" th:text="${loginErrorMsg}"></p>
        <button class="btn btn-primary">로그인</button>
        <button class="btn btn-primary" onClick="location.href='/members/new'" type="button">회원가입</button>
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
    </form>

</div>

</html>


<!-- 카카오 로그인 테스트 시작 -->
<!--
<span th:if="${userId==null}">
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=10e1c0d0b58f51ff32223673ac9f62c6&redirect_uri=http://localhost:8555/&response_type=code">
        <img src = "kakao_login_medium_narrow.png">
        카카오톡 로그인
    </a>
</span>
<span th:if="${userId!=null}">
    <form name="logout" action="http://localhost:8555/members/logout">
        <input type="submit" value="로그아웃">
    </form>
</span>
-->
<!--카카오 로그인 테스트  끝 -->